@tailwind base;
@tailwind components;
@tailwind utilities;
.menu-item {
  position: relative;
  padding-right: 1rem; /* مساحة للخط على اليمين */
  transition: color 0.3s ease;
}

.menu-item::before {
  content: '';
  position: absolute;
 left: 0; /* الخط على اليمين */
  top: 50%;
  transform: translateY(-50%) scaleX(0);
  width: 6px; /* طول الخط */
  height: 5px; /* سمك الخط */
  background-color: #2C5DB6; /* لون الخط */
  transform-origin: left;
  transition: transform 0.3s ease;
}

.menu-item:hover::before {
  transform: translateY(-50%) scaleX(1);
}
